@use "../../global" as g;

.c-selectList{
	display: flex;
	flex-wrap: wrap;
	gap: g.$space_m;
	margin-top: g.$space_m;
	&__item{
		word-break: break-all;
		word-wrap: break-word;
		background: #f5f5f5;
		border-radius: g.$space_s;
	}
	&__label{
		cursor: pointer;
		display: inline-block;
		padding: g.$space_s g.$space_m;
		font-size: g.$font-size_s;
	}
	&__icon{
		margin-right: g.$space_m;
		vertical-align: middle;
		font-size: g.$font-size_ll;
		&::before{
		}
	}
	&__text{
		vertical-align: middle;
		vertical-align: top;
	}
	&__checkbox{
		display: none;
	}
}