@use "../../global" as g;

.p-messages{
	&__list{
		width: 100%;
		background: g.$color_base;
		border: 1px solid #ddd;
		border-radius: g.$space_m;
		&:last-child{
			border-bottom: none;
		}
	}
	&__row{
	}
	&__item{
		position: relative;
		display: flex;
		align-items: center;
		gap: g.$space_xl;
		padding: g.$space_xl 60px g.$space_xl g.$space_xl;
		color: #222;
		border-bottom: 1px solid #ddd;
		&:hover{
			opacity: .8;
		}
		@include g.mq() {
			flex-direction: column;
			gap: g.$space_m;
			padding: g.$space_xl;
		}	
	}
	&__date{
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: g.$font-size_ss;
		color: #666;
	}
	&__imgCell{
		flex: 0 0 80px;
		@include g.mq(md) {
			flex: 0 0 60px;
		}	
	}
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 80px;
		height: 80px;
		overflow: hidden;
		border: 1px solid g.$color-border3rd;
		border-radius: 100%;
		@include g.mq(md) {
			width: 60px;
			height: 60px;
			}	
		img{
			max-height: 100%;
			max-width: none;
		}
	}
	&__textCell{
		flex: 1 1 auto;
		line-height: 1.25;
	}
	&__textBody{
	}
	&__companyName{
		margin-bottom: g.$space_s;
		font-weight: 300;
	}
	&__jobTitle{
		margin-bottom: g.$space_m;
		font-size: g.$font-size_s;
		color: #222;
	}
	&__message{
		font-size: g.$font-size_s;
		color: #666;
	}
}