@use "../../global" as g;

.p-withdrawal{
	&__tdRequest{
		text-align: start;
	}
	&__label{
		padding: 0;
		font-size: g.$font-size_m;
		&::before{
			position: static;
			margin: 0;
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
		}
	}
	&__checkmark{
		top: 10px;
	}
	&__selectBox, &__select{
		width: 350px;
		@include g.mq(md) {
			width: 100%;
			text-align: start;
		}
	}
}
